# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgres://postgres:postgres@localhost/greenfuture1"
#PYTHON_PATH="/usr/bin/python3" 
VITE_API_DOMAIN="localhost:8000"
VITE_REACT_DOMAIN="localhost:3000"